volumes:
  postgres_data:
  redis_data:
  prometheus_data:

networks:
  app-network:
    driver: bridge

services:
  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    ports:
      - "${GRPC_AUTH_PORT}:50051"
      - "2112:2112" # Metrics
    environment:
      - DB_HOST=${PG_HOST}
      - DB_PORT=${PG_PORT}
      - DB_USER=${PG_USER}
      - DB_PASSWORD=${PG_PASSWORD}
      - DB_NAME=${DB_AUTH_NAME}
      - GRPC_PORT=${GRPC_AUTH_PORT}
      - REFRESH_TOKEN_SECRET_KEY=${REFRESH_TOKEN_SECRET_KEY}
      - ACCESS_TOKEN_SECRET_KEY=${ACCESS_TOKEN_SECRET_KEY}
      - REFRESH_TTL=${REFRESH_TTL}
      - ACCESS_TTL=${ACCESS_TTL}
      - REDIS_ADDR=${REDIS_ADDR}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DB=${REDIS_DB}
      - REDIS_TTL=${REDIS_TTL}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app-network
  
  chat-server:
    build:
      context: ./chat-server
      dockerfile: Dockerfile
    ports:
      - "${GRPC_CHAT_PORT}:50052"
    environment:
      - DB_HOST=${PG_HOST}
      - DB_PORT=${PG_PORT}
      - DB_USER=${PG_USER}
      - DB_PASSWORD=${PG_PASSWORD}
      - DB_NAME=${DB_CHAT_NAME}
      - GRPC_PORT=${GRPC_CHAT_PORT}
      - GRPC_AUTH_PORT=${GRPC_AUTH_PORT}
    depends_on:
      - postgres
      - auth
    networks:
      - app-network
  
  migrator-auth:
    image: migrate/migrate:4  # Готовый образ
    command:
      - -source
      - file:///migrations  # Путь внутри контейнера
      - -database
      - postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${DB_AUTH_NAME}?sslmode=disable # Параметры подключения
      - -verbose
      - up
    volumes:
      - ./auth/migrations:/migrations:ro 
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  migrator-chat:
    image: migrate/migrate:4  # Готовый образ
    command:
      - -source
      - file:///migrations  # Путь внутри контейнера
      - -database
      - postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${DB_CHAT_NAME}?sslmode=disable # Параметры подключения
      - -verbose
      - up 
    volumes:
      - ./chat-server/migrations:/migrations:ro 
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:17-alpine3.22
    environment:
      - "POSTGRES_DB=${PG_NAME}"
      - "POSTGRES_USER=${PG_USER}"
      - "POSTGRES_PASSWORD=${PG_PASSWORD}"
    ports:
      - "${PG_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./deploy/docker/postgres:/docker-entrypoint-initdb.d:ro  # ← монтируем скрипт
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_NAME}"]
      interval: 5s
      retries: 5
      timeout: 5s
  redis:
    image: redis:latest
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  
  web-gateway:
    build:
      context: ./web-gateway
      dockerfile: Dockerfile
    ports: 
      - "${HTTP_PORT}:8080"
    environment:
      - HTTP_PORT=8080
      - AUTH_GRPC_ADDR=${AUTH_GRPC_ADDR}
      - CHAT_GRPC_ADDR=${CHAT_GRPC_ADDR}
    depends_on:
      - auth
      - chat-server
    networks:
      - app-network
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./deploy/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - app-network